.skeleton {
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
}
  
/* Variants */
.skeleton--text {
    border-radius: 4px;
}

.skeleton--circular {
    border-radius: 50%;
}

.skeleton--rectangular {
    border-radius: 4px;
}
  
/* Pulse Animation */
.skeleton--pulse {
    animation: pulse 1.5s ease-in-out infinite;
}
  
@keyframes pulse {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 0.7;
    }
}
  
/* Wave Animation */
.skeleton--wave {
    background: linear-gradient(
        90deg,
        rgba(224, 224, 224, 1) 0%,
        rgba(246, 246, 246, 1) 50%,
        rgba(224, 224, 224, 1) 100%
    );
    background-size: 200% 100%;
    animation: wave 2s linear infinite;
}

@keyframes wave {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
    