@use "../../../assets//styles/abstracts/config";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Work Sans", sans-serif;
    background-color: white;
    height: 100vh;
    width: 100%;
    width: 280px;
    position: fixed;
    overflow-y: scroll;
    margin-top: 2rem;
    margin-bottom: 1rem;
    z-index: 1;

    &::-webkit-scrollbar {
        width: 2px;
    }
        
        &::-webkit-scrollbar-thumb {
        display: none;
        border-radius: 10px;
        background: config.$text-light; 
        cursor: pointer;
        opacity: .4;

        &:hover {
            display: block;
            transition: display .8s ease-out;
        }
    }

    .sidebar-logo-container {
        height:70px;
        padding: 20px;
        color: #545F7D;
        position: fixed;
        background-color: white;
        width: 280px;
        z-index: 99;
        display: none;
        
        img {
            cursor: pointer;
            display: none;
        }
    } 
    
    & > ul {      
        margin-top: 80px;
        height: 100%;
        width: 100%;
        padding-left: 0;
        
        .active {
            li {
                background-color: config.$bg-hover;
                border-left: 4px solid #39CDCC;
                opacity: 1;
            }
        }

        li {
            display: flex;
            max-height: 40px;
            align-items: center;
            padding: 5px 0px 5px 1.5rem;
            cursor: pointer;
            font-size:16px;
            transition: transform .3s ease-in-out;
            opacity: .7;
            &:nth-child(1) p{
                color: config.$text-secondary;
            }

            p {
                color: config.$text-light;
            }

            &:hover {
                background-color: config.$bg-hover;
                transform: scale(1.05);
            }

            img {
                object-fit: contain;
                margin-right: 0.5rem;
            }

            img:last-child {
                margin-left: 0.5rem; 
                }
            
            &:nth-child(2) {
                    margin-top: 20px;
                }
            }

            .title {
            margin-top: 15px;
            text-transform: uppercase;
            font-size:12px;
            color: config.$text-title;
            padding: 10px 20px;
            }
            
        footer {
            border-top: 1px solid rgba(33, 63, 125, 0.1);
            margin-top: 30px;
            padding-left: 20px;

            li {
            padding: 20px 0;
            opacity: 1;
            }
            & > span:last-child {
                font-size: 12px;
                font-family: "Work Sans", sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.08px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

                padding: 2rem 0;
            }
        }
    }  
}


@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform .5s ease;
        &.show {
            transform: translateX(0);
        }
    }
}
    
    
@media (min-width: 768px) and (max-width: 1024px) {
    .sidebar {
        transform: translateX(-100%);
        display: none;
        transition: transform .5s ease;
        &.show {
            transform: translateX(0);
            display: block;
        }
    }
}