@import "./styles/mixins";

// The forward tag allows the imported modules to be reused by importing index where needed.

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Avenir Next';
    src: url('./assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./assets/fonts/avenir-next/AvenirNextLTPro-It.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Avenir Next', serif; 
}

h2 {
    font-family: 'Avenir Next', sans-serif;
}