#users-page {
    font-family: "Work Sans", sans-serif;
    position: relative !important;
    // z-index: -1;
    top: 0;
    left: 0;
    background: #fafafa;
    padding: 100px 30px 100px 320px;

    #cards {
        width: 100%;
        margin: 20px 0;
        display: flex;

        p {
            color: #545F7D;
            font-family: "Work Sans";
            font-size: 14px;
            font-weight: 500;
            line-height: 16.42px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin: 0;
        }

        h3 {
            font-family: "Work Sans";
            font-size: 24px;
            font-weight: 600;
            line-height: 28.15px;
            margin: 0;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #213F7D;
        }
    }

    &-loader {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-family: "Work Sans", sans-serif;
        font-size: 24px;
        font-weight: 500;
        padding: 0 10px;
        line-height: 28.15px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #213F7D;
    }

    @media screen and (max-width: 1024px) {
        padding-left: 20px;

        #cards {
            display: grid;        
            grid-template-columns: 1fr 1fr;
            gap: 0;
            justify-content: center;

            div {
                width: 85%;
            }
        }
    }

    @media screen and (max-width: 750px) {
        padding-right: 20px;

        #cards {
            gap: 15px 10px;

            div {
                margin: 0;
                width: auto;
            }
        }
    }
}